.team-box {
  position: relative;
  @include dimensions(100%, 818px);
}
#team-bg {
  @include dimensions(100%, 100%);
}
.con-team {
  position: absolute;
  top: 0;
  width: 100%;
}
.team-person {
  @include dimensions(100%, 365px);
  background-color: white;
  margin-top: 60px;
}
.person-name {
  font-family: 'Open Sans', sans-serif;
  color: #333743;
  font-size: 14px;
  font-weight: 600;
  line-height: 13px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin: 0;
}
.person-position {
  font-family: 'Open Sans', sans-serif;
  color: #656b6f;
  font-size: 12px;
  font-style: italic;
  line-height: 10px;
  text-align: center;
}
.team-person img {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}
.person-text {
  display: block;
  width: 200px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  color: #656b6f;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 0;
}
.person-social {

  margin: 15px 0 0 85px;
}
.person-social li {
  display: inline-block;
  margin-right: 15px;
  &:last-of-type {
    margin-right: 0;
  }
}
.facebook {
  color:  #5567a9;
}
.instagram {
  color:  #607e9c;
}
.youtube {
  color:  #b33632;
}
.behance {
  color:  #1c9bcd;
}
.pinterests {
  color:  #cb2027;
}
.twitter {
  color:  #61abea;
}
.google {
  color: #be4a39;
}
#radio-person {
  margin-top: 40px;
  margin-left: 560px;
}
#radio-person input {
  border-radius: 50%;
  margin-left: 10px;
  width: 9px;
  height: 9px;
}